<body onload="detDate()">
  <header>
      <div>
          <img src="./assets/Images/logo1w.png"  id="logo" alt="This Img is unavialable">
      </div>
      <div class="sb">
          <input type="search" placeholder="Search..." id="searchbar">
          <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div>
          <nav>
              <ul>
                  <li><a href="index.html">Main Page</a></li>
                  <li><a href="Products">Products</a></li>
                  <li><a href="Cart">Add To Cart</a></li>
                  <li><a href="SignUp">Sign Up</a></li>
              </ul>
          </nav>
      </div>
  </header>
  <main>
      <div class="p1 Ab">
          <div id="imgpos">
              <img src="./assets/Images/falogo.jpg" class="p1img Abimg" alt="Unavailable">
          </div>
          <div class="p1T">
              <h3>Project E-Commerce</h3>
              <p>This is a project for sprints that represent the project for the second training for the <br> Faculty of the Computers & Data Science. <br>
              <i class="fa-solid fa-user"></i> Done by Student: <span class="name">Ahmed Yasser Mohamed Mohamed Nassar</span> <br>
              <i class="fa-solid fa-envelope"></i> Email: <span class="name">a7mdxx35@gmail.com</span><br>
              <i class="fa-solid fa-phone"></i> Phone: <span class="name">+201095178815</span><br>
              <span class="name2">Thank You</span>                </p>
          </div>
      </div>
      <div class="p1 Ab">
        <div id="imgpos">
            <img src="./assets/Images/falogo.jpg" class="p1img Abimg" alt="Unavailable">
        </div>
        <div class="p1T">
            <h3>Project E-Commerce</h3>
            <p>This is a project for sprints that represent the project for the second training for the <br> Faculty of the Computers & Data Science. <br>
            <i class="fa-solid fa-user"></i> Done by Student: <span class="name">Attia Fathy Attia</span> <br>
            <i class="fa-solid fa-envelope"></i> Email: <span class="name">attiafathyattia@yahoo.com</span><br>
            <i class="fa-solid fa-phone"></i> Phone: <span class="name">+201225308901</span><br>
            <span class="name2">Thank You</span>                </p>
        </div>
    </div>
    <div class="p1 Ab">
        <div id="imgpos">
            <img src="./assets/Images/falogo.jpg" class="p1img Abimg" alt="Unavailable">
        </div>
        <div class="p1T">
            <h3>Project E-Commerce</h3>
            <p>This is a project for sprints that represent the project for the second training for the <br> Faculty of the Computers & Data Science. <br>
            <i class="fa-solid fa-user"></i> Done by Student: <span class="name">Mohamed Gaber Hafez</span> <br>
            <i class="fa-solid fa-envelope"></i> Email: <span class="name">gabermido525@gmail.com</span><br>
            <i class="fa-solid fa-phone"></i> Phone: <span class="name">+201206809253</span><br>
            <span class="name2">Thank You</span>                </p>
        </div>
    </div>
    <div class="p1 Ab">
        <div id="imgpos">
            <img src="./assets/Images/falogo.jpg" class="p1img Abimg" alt="Unavailable">
        </div>
        <div class="p1T">
            <h3>Project E-Commerce</h3>
            <p>This is a project for sprints that represent the project for the second training for the <br> Faculty of the Computers & Data Science. <br>
            <i class="fa-solid fa-user"></i> Done by Student: <span class="name">Mohamed Hamdi Abd Alltif</span> <br>
            <i class="fa-solid fa-envelope"></i> Email: <span class="name">mido3593250@gmail.com</span><br>
            <i class="fa-solid fa-phone"></i> Phone: <span class="name">+201147950164</span><br>
            <span class="name2">Thank You</span>                </p>
        </div>
    </div>
    <div class="p1 Ab">
        <div id="imgpos">
            <img src="./assets/Images/falogo.jpg" class="p1img Abimg" alt="Unavailable">
        </div>
        <div class="p1T">
            <h3>Project E-Commerce</h3>
            <p>This is a project for sprints that represent the project for the second training for the <br> Faculty of the Computers & Data Science. <br>
            <i class="fa-solid fa-user"></i> Done by Student: <span class="name">Khaled Gamal Elsadany</span> <br>
            <i class="fa-solid fa-envelope"></i> Email: <span class="name">khaledgmal517@gmail.com</span><br>
            <i class="fa-solid fa-phone"></i> Phone: <span class="name">+201099871724</span><br>
            <span class="name2">Thank You</span>                </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </main>
  <footer class="fopro">
      <div id="flogo">
          <img src="./assets/Images/logo1.png"  alt="Unavailable" id="fflogo">
      </div>
      <div>

          <p class="dday"><i class="fa-solid fa-calendar"></i> <span id="day">DAY</span> / <span id="month">MONTH</span></p>
      </div>
      <div>
          <p>Project E-Commerce 2022 CopyRight &trade;</p>
      </div>
      <div class="listf">
          <ul>
              <li><a href="AboutUs" class="top">Top Page <i class="fa-solid fa-arrow-up"></i></a></li>
              <li><a href="index.html" class="top">Main Page</a></li>
              <li><a href="Services" class="top">Services</a></li>
              <li><a href="Products"class="top">Products</a></li>
          </ul>
      </div>
  </footer>
</body>
